/* ================ contacto.html =============== */

.contacto {
    background-color: $color-fondo;
    padding: 15px;

    text-align: center;
    justify-content: center;
    align-items: center;

    h2 {
        height: 50px;
    }
}

    &_horarios  {
        font-weight: bold;
        font-size: 1.2rem;
}

@media (max-width: 992px) {
    .contacto
        &_horarios {
            display: inline-flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

        &_contactate {
            padding-top: 15px;
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}